    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  

<h1>Enter Anime Item</h1>
<form action="/create" method="POST">
    <input type="number"  name="ID" class="form-control" placeholder="Enter Anime ID (ex. 5)" size="40"><br>
	<input type="text"  name="Title" class="form-control" placeholder="Enter Anime Name (ex. Naruto)" size="40"><br>
	<input type="number" min="1900" max="2099" step="1" name="Release_Year" class="form-control" placeholder="Enter Anime Release Date   (ex. 2022)" size="40"><br>
	<input type="text"  name="Genre" class="form-control" placeholder="Enter Anime Genre (ex. Slice-of-life)" size="40"><br>
	<input type="number" step="0.01"class="form-control" name="Rating" placeholder="Enter a rating" size="40"><br>
	<input type="submit" class="btn btn-primary" value="submit">
</form>


