<h1>{{title}}</h1>
<p>Welcome to the {{title}}</p>
<p>Please use the paths below to navigate the application</p>
<ul>
	<li><span style="font-weight: 700;">Home</span> - /</li>
	<li><span style="font-weight: 700;">Create an Anime</span> - /create</li>
  <li><span style="font-weight: 700;">Update an Anime</span> - /users</li>
	<li><span style="font-weight: 700;">Display All Anime</span> - /display</li>
	
</ul>
