

<style>

.lead {

 margin: 0;
  position: absolute;
  left: 50%;
}

.button {
  display:inline-flex;
  gap:10px;
            }

.btn-register {
  background-color: #012626;
  color: #ffffff;
      }

 .form-control{
  margin: 0 auto; 
  width:500px;
 }     
 .btn-success {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:250px;
  margin-top: 1%;
 }
</style>

<h1>Login</h1>

<form action="/login/password" method="POST">
<div class="mx-sm-3 mb-4">
  <input type="text"  name="username"class="form-control" id="username" placeholder="Enter your username" size="40" required autofocus><br>
    <input type="password"  name="password"class="form-control" id="password" placeholder="Enter your password" size="40" required autofocus><br>
    <input type="submit" class="btn btn-success" value="Login"/>
</div>
</form>
<p class="lead mt-4"> No Account? <a href="/register"type="submit" class="btn btn-register">Register</a></p>
</div>
