<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #0C0D08;">
  <a class="navbar-brand" href="/">Anime Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Update an Anime</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/display">Display all Anime</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
  
    </ul>
  </div>
</nav>

<h1>Register for an Account</h1>

<style>

     .button {
                display:inline-flex;
                gap:10px;
            }
      .btn-login {
       background-color: #012626;
       color: #ffffff;
      }
</style>

<form action="/users/register" method="POST">
<div class="mx-sm-3 mb-4">
	<input type="name"  name="name" class="form-control" id="name" placeholder="Enter your name" size="40" required><br>
  <input type="email"  name="email"class="form-control" id="email" placeholder="Enter your email" size="40" required><br>
    <input type="password"  name="password"class="form-control" id="pasword" placeholder="Create password" size="40" required><br>
     <input type="password"  name="password2"class="form-control" id="pasword" placeholder="Confirm password" size="40" required><br>
     <button name="register" id="register" type="submit" class="btn btn-success">Register</button>
     </div>
     </form>
     <p class="lead mt-4"> Have an Account? <a href="/users/login"type="submit" class="btn btn-login">Login</a></p>
           
</div>

         
